@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
    display: flex;
    font-family: "Ubuntu Sans", sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #525252;
    color:white;
    height: 100vh;
}

button {
    background-color: #414141;
    color:white;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

button:hover {
    background-color: #CA3E47;
}

#card, #passwordInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    padding: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 0.5rem;
    background-color: #313131;
}

a {
    color: white;
}

a:hover {
    color: #CA3E47;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #313131;
}

#passwordArea {
    display: flex; /* Added this line */
    align-items: center;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap; /* Changed from 'flex-flow: row wrap' */
}